body {
    padding: 0;
    margin: 0;
    background: rgb(218, 216, 206);
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.nav_bar {
    max-width: 1000px;
    height: 80px;
    border-radius: 39px;
    background-color: #fff;
}

.logo img {
    width: 60px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.letter p {
    font-size: 25px;
    font-weight: bold;
    color: red;
}

.letter span {
    color: green;
}

.nav_bar {
    display: flex;
    gap: 10px;
}

#title {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

#title span {
    color: red;
    font-size: 25px;
}


.big_cell {
    width: calc(50% - 20px);
    height: 500px;
    background: url(war.jpeg) no-repeat center top / cover;
    border: 10px solid #fff;
    border-radius: 50px;
}

.big_cell p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 440px;
    margin-left: 40px;
}

