body {
    padding: 0;
    margin: 0;
    background: rgb(218, 216, 206);
}

.container {
    width: 900px;
    margin: 0 auto;
}

.nav_bar {
    max-width: 1000px;
    height: 80px;
    border-radius: 40px;
    background-color: #fff;
    
}

.logo img {
    width: 60px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.letter p {
    font-size: 25px;
    font-weight: bold;
    color: red;
}

.letter span {
    color: green;
}

.nav_bar {
    display: flex;
    gap: 10px;
}

#title {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

#title span {
    color: red;
    font-size: 25px;
}


.big_cell {
    width: 420px;
    height: 420px;
    
    border: 10px solid #fff;
    border-radius: 50px;
}

.one_big {
    background: url(war.jpeg) no-repeat center top / cover;
}


.big_cell p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 371px;
    margin-left: 24px;
}

.cell_litlle {
    font-size: 20px;
    font-weight: bold;
    width: 195px;
    height: 195px;
    border-radius: 50px;
    background: #000;
    border: 10px solid #fff;
}

.cell_litlle p {
    margin-left: 25px;
    margin-top: 127px;
}

.row_little {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    
}

.one {
    background: url(biatlon.jpeg) no-repeat center top / cover;
}

.two {
     
    background: url(sun.jpeg) no-repeat center top / cover;
}

.three {
    background: url(tehnika.jpeg) no-repeat center top / cover;
}

.four {
    background: url(flags.jpeg) no-repeat center top / cover;
}

.two_big {
    background: url(les.jpeg) no-repeat center top / cover;
}

.four_reverse {
    background: url(telega.jpeg) no-repeat center top / cover;

}

.one_reverse {
    background: url(holiday.jpeg) no-repeat center top / cover;
}

.three_reverse {
    background: url(gaz.jpeg) no-repeat center top / cover;
    text-shadow: 1px 1px 1px #000;
}

.two_reverse {
    background: url(fire.jpeg) no-repeat center top / cover;
}